<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Food How components | {{title}}</title>
    <link href="http://fonts.googleapis.com/css?family=Bitter:700|Raleway:500" rel="stylesheet" type="text/css">
    <link href="/static/scripts/main.css?{{fileHasher 'public/static/scripts/main.css'}}" rel ="stylesheet" type="text/css">
</head>
