{{> head title="Index" }}
<body>
    <section class="demo-specific__main">
        <hgroup>
            <h1>Food How Components</h1>
        </hgroup>
        <section>
            <nav class="demo-specific__nav">
                <ul>
                    <li>
                        <a href="tiles.html">Components</a>
                        <ul>
                            <li><a href="templates/shopping-list.html">Shopping List</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
    </section>
</body>
</html>
