@import '../../../sass/global';

.shopping-list {
    @extend %page-wrap;

    h1,
    p {
        text-align: center;
    }

    button {
        margin: 20px auto;
    }
}

.form {
    max-width: 500px;
    margin: 0 auto;
}
