// ------ COLORS ------- \\
// primary
$color-cream: #e9ddd0;
$color-brown: #573f32;
// $color-brown-50: rgba($color-brown, .5);
$color-orange: #b18d4a;

// ------ TYPOGRAPHY ------- \\
$base-font-size: 14px;
