// Add this to head: <link href='http://fonts.googleapis.com/css?family=Bitter:700|Raleway:500' rel='stylesheet' type='text/css'>

html {
    font-size: $base-font-size;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    color: $color-orange;
    text-decoration: none;
}

p {
    line-height: rem(24px);
}
